#services {
    background-color: var(--gray-100);

    padding-block: 88px 120px;

    .cards-services {
        justify-content: center;

        div {
            border: solid 1px var(--gray-300);
            border-radius: 12px;
            padding: 20px;

            h3 {
                color: var(--gray-600);
                margin-block: 20px 8px;
            }

            p {
                color: var(--gray-500);
            }
        }
    }
}