#works{
    background-color: var(--gray-200);
    padding-block: 72px 144px;
}

.texts{
    text-align: center;
    margin-bottom: 56px;

    p{
        color: var(--red);
        margin-bottom: 8px;
    }

    h2{
        color: var(--gray-600);
    }
}

#cards{
    grid-template-columns: repeat(3, 1fr);
    

    .card{
        width: 330px;
        height: 280px;
        border-radius: 12px;
        background-color: var(--gray-300);
        padding-inline: 12px;
        padding-block: 12px 17px;

        img{
            width: 306px;
            height: 156px;
            border-radius: 8px;
        }

        h3{
            color: var(--gray-600);
            margin-block: 20px 8px;
        }

        p{
            color: var(--gray-500);
        }
    }

    .card:hover{
        border: solid 1.5px var(--gray-500);
    }
}